﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<div>
    <div>
        @Html.ActionLink("Manager", "Index", "ManagerMVC")
    </div>
    <div>
        @Html.ActionLink("Project", "Index", "ProjectMVC")
    </div>
    <div>
        @Html.ActionLink("Specialize", "Index", "SpecializeMVC")
    </div>
    <div>
        @Html.ActionLink("Student", "Index", "StudentMVC")
    </div>
</div>
