﻿@model IFDInternManagement_QBao_57131557.Models.StudentCV

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>StudentCV</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FrameworkUse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FrameworkUse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Problem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Problem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExAppAlone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExAppAlone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Intro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InternStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InternStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExAppTeam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExAppTeam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpectedLocation.ExpectedLocationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpectedLocation.ExpectedLocationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KnowU.KnowUsName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KnowU.KnowUsName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Specialize.Specializename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specialize.Specializename)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
