﻿@model IFDInternManagement_QBao_57131557.Models.Manager

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Manager</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Managername)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Managername)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.Projectname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Projectname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role.Rolename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.Rolename)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ManagerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
