﻿@using IFDInternManagement_QBao_57131557.Models;
@model IEnumerable<Specialize>
<div style="font-family:Arial">
    @{
        ViewBag.Title = "Specializes List";
    }
    <h2>Specializes List</h2>
    <ul>
        @foreach (Specialize specialize in @Model)
        {
            <li>@Html.ActionLink(specialize.Specializename, "Index", "Home", new { SpecializeID = specialize.SpecializeID}, null)</li>
        }
    </ul>
</div>
