﻿@{
    ViewBag.Title = "Xác thực tài khoản";
}

<h2>Xác thực tài khoản</h2>

@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    <div class="alert alert-success">
        <strong>Success!</strong> Tài khoản của bạn đã được tài thành công. Vui lòng click vào  @Html.ActionLink("Login", "Login", "StudentLogin")
    </div>
}
else
{
    <div class="alert alert-danger">
        <strong>Error!</strong> @ViewBag.Message
    </div>
}