﻿@model IEnumerable<IFDInternManagement_QBao_57131557.Models.Specialize>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SpecializeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Specializename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecializeContent)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SpecializeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specializename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecializeContent)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SpecializeID }) |
                @Html.ActionLink("Details", "Details", new { id = item.SpecializeID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SpecializeID })
            </td>
        </tr>
    }

</table>
