﻿
@{
    Layout = null;
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Dashboard</h1>        
        <a href="@Url.Action("Login","StudentLogin")">LogOut</a>
    </div>
    
</body>
</html>