﻿@model IEnumerable<IFDInternManagement_QBao_57131557.Models.Manager>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Managername)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project.Projectname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role.Rolename)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Managername)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project.Projectname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role.Rolename)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ManagerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ManagerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ManagerID })
        </td>
    </tr>
}

</table>
