﻿<!-- Thêm thư viện -->
@model PagedList.IPagedList<IFDInternManagement_QBao_57131557.Models.Manager>
@using PagedList.Mvc;
<!-- Kết thúc-->

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Back to Menu", "Index", "Menu")
</p>
<p>
    @Html.ActionLink("Create New", "Create")
</p>



<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Tên quản lý
        </th>
        <th>
            Email
        </th>
        <th>
            Quyền
        </th>
        <th>
            Dự án
        </th>

    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Managername)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ManagerID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ManagerID })
        </td>
    </tr>
    }

</table>

<!-- Thêm mã phân trang -->
<br />
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page }))
<!-- Kết thúc -->