﻿
@{
    ViewBag.Title = "View";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

<div>
    @Html.ActionLink("Manager", "Index","ManagerMVC")
</div>
<div>
    @Html.ActionLink("Project", "Index","ProjectMVC")
</div>
<div>
    @Html.ActionLink("Specialize", "Index","Specialize")
</div>
<div>
    @Html.ActionLink("Student", "Index","Student")
</div>
