﻿@model IFDInternManagement_QBao_57131557.Models.Student

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Studentname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Studentname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phonenumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phonenumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Intro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intro)
        </dd>





        <dt>
            @Html.DisplayNameFor(model => model.Internship.Internname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Internship.Internname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.Projectname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Projectname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role.Rolename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.Rolename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Specialize.Specializename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specialize.Specializename)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
