﻿@model IFDInternManagement_QBao_57131557.Models.Student

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Student</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.StudentID)
    @*@Html.HiddenFor(model => model.Studentname)*@
    @Html.HiddenFor(model => model.Birthday)
    @Html.HiddenFor(model => model.Email)
    @Html.HiddenFor(model => model.Address)
    @Html.HiddenFor(model => model.Phonenumber)
    @Html.HiddenFor(model => model.Unit)
    @Html.HiddenFor(model => model.Intro)
    @Html.HiddenFor(model => model.Password)
    @Html.HiddenFor(model => model.IsEmailVerified)
    @Html.HiddenFor(model => model.ActivationCode)
    @Html.HiddenFor(model => model.ResetPasswordCode)
    @*@Html.HiddenFor(model => model.RoleID)*@

    <div class="form-group">
        @Html.LabelFor(model => model.Studentname, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Studentname, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Studentname, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
            @Html.LabelFor(model => model.RoleID, "RoleID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.RoleID, new SelectList(Model.RoleCollection, "RoleID", "Rolename"), "-Please select-")
                @Html.ValidationMessageFor(model => model.RoleID, "", new { @class = "text-danger" })
            </div>
        </div>



    <div class="form-group">
        @Html.LabelFor(model => model.InternshipID, "InternshipID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.InternshipID, new SelectList(Model.InternshipCollection, "InternshipID", "Internname"), "-Please select-")
            @Html.ValidationMessageFor(model => model.InternshipID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ProjectID, "ProjectID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.ProjectID, new SelectList(Model.ProjectCollection, "ProjectID", "Projectname"), "-Please select-")
            @Html.ValidationMessageFor(model => model.ProjectID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SpecializeID, "SpecializeID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.SpecializeID, new SelectList(Model.SpecializeCollection, "SpecializeID", "Specializename"), "-Please select-")
            @Html.ValidationMessageFor(model => model.SpecializeID, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
