﻿
@model IFDInternManagement_QBao_57131557.Models.Student;
@{
    ViewBag.Title = "Student Details";
}
<h2>Employee Details</h2>
<table style="font-family:Arial">
    <tr>
        <td>Student ID:</td>
        <td>@Model.StudentID </td>
    </tr>
    <tr>
        <td>Name:</td>
        <td>@Model.Studentname</td>
    </tr>
    <tr>
        <td>Birthday:</td>
        <td>@Model.Birthday</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <td>Address:</td>
        <td>@Model.Address</td>
    </tr>
    <tr>
        <td>Phone:</td>
        <td>@Model.Phonenumber</td>
    </tr>
    <tr>
        <td>Role ID:</td>
        <td>@Model.RoleID</td>
    </tr>
    <tr>
        <td>Unit:</td>
        <td>@Model.Unit</td>
    </tr>
    <tr>
        <td>Intro:</td>
        <td>@Model.Intro</td>
    </tr>
    <tr>
        <td>Internship ID:</td>
        <td>@Model.InternshipID</td>
    </tr>
    <tr>
        <td>Project:</td>
        <td>@Model.ProjectID</td>
    </tr>
    <tr>
        <td>Specialize ID:</td>
        <td>@Model.SpecializeID</td>
    </tr>
</table>
<p>
    @Html.ActionLink("Back to Student List", "Index", new { departmentId = @Model.StudentID })
</p>