﻿@model IFDInternManagement_QBao_57131557.Models.Specialize

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Specialize</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Specializename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specializename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecializeContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecializeContent)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SpecializeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
